@import "tailwindcss";

@theme {
  --color-cream: #f7f3ef;
  --color-ink: #141115;
  --color-wpblue: #2f61ff;
}

html {
  scroll-behavior: smooth;
}
body {
  @apply bg-cream text-ink font-sans antialiased selection:bg-wpblue selection:text-white;
}
